body {

}

.photo_style{
  position: absolute;
  left:10px;
  top:10px;
}
#wrapper{
  margin: 0 auto;
  width: 1500px;
  height: 800px;
}

.column {
  flex: 30%;
  padding: 0 4px;
}

#kids{
  margin-left: 5%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}
#makeup{
  margin-left: 35%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}
#learn{
  margin-left: 65%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}

#text{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  position:absolute;
  z-index:1000;
}

/* text style */
p{
  text-align: center;
  color: rgba(255,105,180);
  font-size: 300%;
  font-weight: 900;
}

.kids{
  color: blue;
}
