body {
  background: pink;
}

.photo_style{
  position: absolute;
  left:10px;
  top:10px;
}
#wrapper{
  background: yellow;
  border: 1px solid white;
  margin: 0 auto;
  width: 1500px;
  height: 800px;
}

.column {
  flex: 30%;
  padding: 0 4px;
}

#kids{
  margin-left: 5%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}
#makeup{
  margin-left: 35%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}
#learn{
  margin-left: 65%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}

#text{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  position:absolute;
  z-index:1000;
}

/* text style */
p{
  text-align: center;
  font-family: 'Roboto';
  color: black;
  font-size: 300%;
}
