body {
  background: pink;
}

.photo_style{
  position: absolute;
  left:10px;
  top:10px;
}
#wrapper{

  /* position: relative; */
  background: yellow;
  border: 1px solid white;
  margin: 0 auto;
  width: 1500px;
  height: 800px;
}


.imagestoclick{
  margin-left: 30vh;
  margin-top: 30vh;
  position: relative;
  width:100vh;
  height:20vh;
  background: red;

}

#kids{
  margin-left: 5%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}
#makeup{
  margin-left: 35%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}
#learn{
  margin-left: 65%;
  margin-right: 5%;
  position:absolute;
  z-index:1000;
}

#text{
  margin-left: 30%;
  margin-right: 10%;
  position:absolute;
  z-index:1000;
}

/* text style */
p{
  text-align: center;
  font-family: 'Roboto';
}
