body {
background-color: pink;
   /* margin: 2em; */
  /* font-family: sans-serif;
  font-size: 2em;
  font-weight: bold; */
}

/* for Sortable */
#list_one { list-style-type: flex; margin: 0; padding: 0; width: 16%; }
  #list_one li { margin: 0 3px 10px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #list_one li span { flex; margin-left: -1.3em; }


/* for  draggable */
  #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

/* main page button style */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    /* margin-top: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
