body {
background-color: #696969;
height: 100vh;
width: 100vw;
}



 /* width: 100px; height: 100px; padding: 0.5em; */
/* for  draggable */
  .draggable { float: left; margin: 10px 10px 10px 0; }
  /* #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 100px; } */
#droppable{
  width: 150px;
  height: 150px;
  margin-left: 35%;
  margin-right: 50%;
  margin-top: 5%;

}

/* main page button style */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    /* margin-top: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

footer{
  width: 100%;
  padding-top: 40%;
  padding-bottom: 4%;
  text-align: center;

}

/* everything for game two */
#game_two{
  background: red;
}

/* caption  */
#gametwo_caption{
text-align: center;
font-family: 'Kaushan Script', cursive;
font-size: 50px;
/* padding-left: 15%; */
}

p {

  margin-left:9%;
  margin-right:50%;
  font-size: 19px;
  font-family: 'PT Mono', monospace;

}

/* belong to the images */
.column {
  -ms-flex: 50%;
  flex: 50%;
  /* margin-left: 17%; */
}

.column img {
  /* margin-top: 15%; */

}
