*{
  box-sizing: none;
  margin: 0;
  padding: 0;
}

/* style for the data */
.game{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.gryffindor{
  height: 25vh;
  width: 100vw;
  background-color: #7f0909;
}

.hufflepuff{
  height: 25vh;
  width: 100vw;
  background-color: #eee117;
}

.ravenclaw{
  height: 25vh;
  width: 100vw;
  background-color: #000a90;
}

.slytherin{
  height: 25vh;
  width: 100vw;
  background-color: #0d6217;
}

/* start of score */
#score{
  width: 100vw;
  text-align: center;
  align-items: center;
  margin-left: 4px;
  padding-left: 10px;
  margin-right: 10px;
}

 #score_center{
  align-items: center;
}

/* end of score */

/* start of anayan style */

#skip{
  text-align: center;
  padding-top: 13px;
  font-family: 'Kaushan Script', cursive;
}

/* end of anayan style */

/* dialog box */
#win{
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  padding-bottom: 10px;
  margin: 0px;
}

.restart{
    background-color: #000000;
    padding: 15px 32px;
    border: none;
    color: white;
}

/* end of dialog box */

/* for  draggable */
.draggable { float: left; margin: 10px 10px 10px 0; }

#droppable{
  width: 150px;
  height: 150px;
  margin-left: 35%;
  margin-right: 50%;
  margin-top: 5%;

}

/* main page button style */
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#mainPage_footer{
  width: 100vw;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 1%;
}

/* everything for game two */
#the_game{
  background: red;
}

/* caption for the game */
#caption{
  text-align: center;
  font-size: 50px;
}

p {

  margin-left:9%;
  margin-right:50%;
  font-size: 19px;
  font-family: 'PT Mono', monospace;

}

h1{
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: 'Kaushan Script', cursive;
}

/* belong to the images */
.column {
  -ms-flex: 50%;
  flex: 50%;
}
