body {
background-color: #696969;
height: 100vh;
width: 100vw;
}

/* for Sortable */
#list_one { list-style-type: flex; margin: 0; padding: 0; width: 16%; }
  #list_one li { margin: 0 3px 10px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #list_one li span { flex; margin-left: -1.3em; }

 /* width: 100px; height: 100px; padding: 0.5em; */
/* for  draggable */
  .draggable { float: left; margin: 10px 10px 10px 0; }
  /* #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 100px; } */
#droppable{
  width: 100px;
  height: 100px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 5%;

}

/* main page button style */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    /* margin-top: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

footer{
  width: 100%;
  padding-top: 40%;
  padding-bottom: 4%;
  text-align: center;

}

/* everything for game two */
#game_two{
  background: red;
}

/* caption  */
#gametwo_caption{
text-align: center;
font-family: 'Kaushan Script', cursive;
font-size: 10px;
}

/* for the data text */
.gametwotext{
  .gametwotext{
  width: 17vw;
  font-size: 45px;
  position: relative;
  left : 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

/* belong to the images */
.column {
  -ms-flex: 50%;
  flex: 50%;
  margin-left: 17%;
}

.column img {
  margin-top: 15%;

}
