body {
background-color:  #87ceeb;
}

/* https://css-tricks.com/the-shapes-of-css/ */
/* i made it bigger */
.triangle{
     width: 0;
     height: 0;
     border-bottom: 630px solid brown;
     border-right: 950px solid transparent;
   }
