body {
background-color:  #87ceeb;

}

/* https://css-tricks.com/the-shapes-of-css/ */
/* i made them the size i want */
.triangle{
     width: 0;
     height: 0;
     border-bottom: 80vh solid brown;
     border-right: 50vw solid transparent;
   }

   .circle {
        position:absolute;
         width: 20px;
         height: 20px;
         background: grey;
         border-radius: 50%;
         bottom:20vh;
         left:48vw;
       }

       .rectangle {
         position:absolute;
         bottom:0;
         height: 20vh;
         width: 100vw;
         background-color: green;

       }

 #question{
  position: absolute;
  bottom:60%;
  left:30%;
  font-family: 'Ruda', sans-serif;

}

 #correct{
  /* position: absolute; */
  /* left :20px; */
  margin-left: 4em;
  margin-right: 4em;
  font-family: 'Ruda', sans-serif;
  z-index: 1;
}

#incorrect{
  /* position: absolute; */
  /* left:50px; */

  font-family: 'Ruda', sans-serif;
  z-index: 1;
}

.buttons{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width:50%;
  border: 1px solid black;
  z-index: 2;
}

.buttons p{text-align: center;}
