body {
background-color:  #87ceeb;
}

/* https://css-tricks.com/the-shapes-of-css/ */
/* i made them the size i want */
.triangle{
     width: 0;
     height: 0;
     border-bottom: 630px solid brown;
     border-right: 950px solid transparent;
   }

   .circle {
         width: 20px;
         height: 20px;
         background: grey;
         border-radius: 50%;
         position: relative;
         bottom:20px;
         left:1000px;
       }

       .rectangle {
         height: 200px;
         width: 2000px;
         background-color: green;
         margin-top: -30px;
       }

#question{
  position: relative;
  bottom:600px;
  left:1000px;
  font-family: 'Ruda', sans-serif;
  
}
