body {
font-size: 1em;
font-family: impact;
}

/* .button{
  margin-left: 15%;
} */
#content {
  font-family: serif;
  font-size: 1.5em;
}

#screen {
/* border: 1px solid black; */
  height: 100vh;
  }
